body{
    background-color: black;
}
.navbar{
    background-color: rgb(0, 0, 0);
}

.nav-link{
    font-family: 'Lexend Deca', sans-serif;
}

li.nav-item {
    padding: 0px 0px 0px 25px;
    /* display: flex; */
    list-style: none;
    /* padding: 16px 10px 16px 0px; */
    font-weight: 400;
    transition: all 0.3s ease 0s;
    margin: 0px;
}

a.nav-link {
    font-size: 15px;
    font-weight: 400;
    color: aqua;
}

select.nav-link{
    background: none;
    color: cyan;
    border: none;
    width: max-content;
    /* display: flex; */
    width: 100px;
}

.container.since-container {
    /* display: flex; */
    margin-top: 3rem;
    text-align: center;
}

.carousel-item {
    /* height: 1080px; */
}

img.card-img {
    border: 2px solid aqua;
}
video.card-img {
    border: 2px solid aqua;
    height: 100%;
}

.since-text{
    color: aqua;
    font-family: 'Lexend Deca', sans-serif;
}

p.since-text{
    color: white;
    font-size: 3rem;
}

h1.since-text{
    font-size: 5rem;
}

video.w-100 {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.last-cards{
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.bottom-heading{
    color: white;
    margin: 2.5rem 0rem;
}

.page-footer{
    background-color: aqua;
}

.page-footer a {
    color: rgb(0, 65, 65);
}

.navbar-toggler-icon{
    color: aqua;
}